<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
{% load staticfiles %}
<title>
Django girls
</title>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<link href="{% static './css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static './css/style.css' %}" rel="stylesheet">
<link href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>

<body>
 
<div class="nav">
		<div class='logo'>{% static './imgs/logos.png' %}</div>
		<ul class="menu">
        <li class="btMenu">
        <a href="javascript:void(0)">MENU</a></li>
    	<li class="menuItem"><a href="index.html">Home</a></li>
		<li class="menuItem"><a href="{% url 'details' %}">About Us</a></li>
		<li class="menuItem"><a href="#">Gallery</a></li>
		<li class="menuItem"><a href="#">Our Projects</a></li>
		<li class="menuItem"><a href="#">Our Callender</a></li>
        <li class="menuItem"><a href="#">Blog</a></li>
		<li class="menuItem"><a href="{% url 'account' %}">Sign Up</a></li>
		<li class="menuItem"><a href="{% url 'login' %}">Sign In</a></li>

		
		</ul>
		</div>
  
  <!-- WRAPPER STARTS HERE-->
<div class='wrapper'>

<header><!-- HEADER STARTS HERE-->


<div class='container titles yomer-text-center'>
<h1 data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s">The Django Girls Kampala</h1>
<div class='subhead'>
 <p>For that Woman in the Tech World...Sign up with us</p> 
</div>
    <form method="POST" action="#">
        <button class="form-submit googleplus" type="submit" title="Continue with Google+"></button>
    
    </form>
    <form method="POST" action="#">
        <button class="form-submit facebook" type="submit" title="Continue with Facebook"></button>
        
    </form>                 
    <form method="GET" action="#">
        <button class="form-submit email" type="submit" title="Continue with Email"></button>
     </form>
</div> 
</div>
<div class=" logos"><img src="img/logos.png"></div>
 <a class="godown animate" href="#first">Down</a>

</header><!-- /HEADER ENDS HERE-->
<!-- ABOUT US STARTS HERE-->
<section class='aboutus' id='about'>
<div class='container'>
<div class="row">
                <div class="col-md-12 yomer-text-center">
                    <h2>What We Offer</h2>
                    <p class="bigtext">
                       We provide knowledge and skills to ladies interested in programming and software 
                       engineering at large. We also provide them with necessary mentoring in their exposure to programming in real world entreprenueral and development fields.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 yomer-text-center">
                    <a class="icon-widget icon-share" href="#" data-scroll-reveal="wait 0.25s, then enter top and move 70px over 1s">Share</a>
                    <h3>Sharing</h3>
                    <small>Tools</small>
                    <p>
                       We offer support tools like free working space to our members. Django and python weekly sessions which ensures one-on-one interaction between both parties. We also ensure a fun-filled experience!!!!
                    </p>
                    <p>
                        <a class="link-more" href="#">Learn More</a>
                    </p>
                </div>
                <div class="col-md-3 yomer-text-center">
                    <a class="icon-widget icon-follow" href="#" data-scroll-reveal="wait 0.25s, then enter top and move 70px over 1s">Follow</a>
                    <h3>Following</h3>
                    <small>Tools</small>
                    <p>
                        Feel free to follow us on our contact handles:<ul>
                        <li>facebook page--<a href="% url www.facebook/djangogirls.com %">djangogirls@facebook</a></br></li>
                        <li>twitter--<a href="% url @djangogirlskla %">@djangogirlskla</a></li></ul>

                    </p>
                    <p>
                        <a class="link-more" href="#">Learn More</a>
                    </p>
                </div>
                <div class="col-md-3 yomer-text-center">
                    <a class="icon-widget icon-market" href="#" data-scroll-reveal="wait 0.25s, then enter top and move 70px over 1s">Market</a>
                    <h3>Marketing</h3>
                    <small>Tools</small>
                    <p>
                    Python is currently the fastest durable programming language. It has recieved numerous complements since its establishment.
                    Well guess what you can become an expert in it. Come on just give Django Girls a Try***
                    </p>
                    <p>
                        <a class="link-more" href="#">Learn More</a>
                    </p>
                </div>
                <div class="col-md-3 yomer-text-center">
                    <a class="icon-widget icon-recommend" href="#" data-scroll-reveal="wait 0.25s, then enter top and move 70px over 1s">Recommend</a>
                    <h3>Recommended</h3>
                    <small>Content Tools</small>
                    <p>
                       We recommend you access the resources provided by this platform, read and adjust to new python changes and happy coding.
                       Django Girls for Women in the Tech world...
                    </p>
                    <p>
                        <a class="link-more" href="#">Learn More</a>
                    </p>
                </div>                
            </div>

</div>

</section>
 <section class="social " id='social'>
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="social_icons">
          <ul>
            <li class="facebook"> <a href="#." data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-facebook"></i> </a> </li>
            <li class="twitter"> <a href="#." data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-twitter"></i> </a> </li>
            <li class="dribbble"> <a href="#." data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-dribbble"></i> </a> </li>
            <li class="googleplus"> <a href="#." data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-google"></i> </a> </li>
            <li class="linkedin "> <a href="#." data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-linkedin"></i> </a> </li>
            <li class="pinterest"> <a href="#." data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-pinterest"></i> </a> </li>
          </ul>
        </div>
                </div>
            </div>
        </div>
    </section>
 <footer>
        <div class="container">
        <p><center>&copy;Django Girls 2016</center></p>
        </div>
</footer>

</body>
</html>